<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secrets!</h1>
      <hr>
      <% if(locals.secrets.length != 0) { %>
        <% secrets.forEach((secret) => { %>
          <p class="secret-text"> <%= secret %> </p>
        <% }); %>  
      <% } else { %>
        <i class="fa fa-exclamation-circle fa-6x"></i>
        <p class="no-secret">There are no secrets here.</p>
      <% } %>  
      <hr>
      <a class="btn btn-light btn-lg" href="/submit" role="button">Add Secret</a>
      <a class="btn btn-danger btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

<%- include('partials/footer') %>